<div id="create-concept" class="container modal fade modal-new-concept">
  <div class="card card-container modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">New Concept</h4>
    </div>
    <div class="margin-2em">
      <%= render 'form' %>
    </div>
  </div>
</div>
