/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "rails_bootstrap_forms";
 @import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300');

// General App Styles

.alert{position: absolute; right: 20px; z-index: 100;}
.navbar {margin-bottom: 0;}
.intro-header{
  .btn-default{ background: none; color: white;}
  background-image: image-url("home-bg.jpg");
  background-size: cover;
  padding: 6em 0;
  color: #FFF;
  text-align: center;
  h1{ width: 75%; margin: 0 12%;}
  p { padding: 2em 0;}
  a.btn:hover { background: rgba(255,255,255,0.6); }
}
